# file extensions
**/*.pyc
**/*.h5
**/*.p
!model/tests/test_data/*.p
*.swp
.coverage

# folder
build/*
dist/*
openhydronet.egg-info/*
*.egg-info/
.vscode/*
.idea/*
.ipynb_checkpoints/
docs/build/*
frontend/data/*
